h2 i, a i {
  display: inline-block;
  margin-right: 1rem;
}
mat-card-content {
  padding-top: 1rem;
}
dl {
  padding: 0 0.5rem;
  dt {
    padding-top: 0.5rem;
  }
}
section {
  margin-bottom: 2rem;
}
mat-card.title {
  margin-bottom: 1rem;
}