@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&display=swap");

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Dancing Script", cursive;
  display: block;
  width: fit-content;
  padding: 0 0.5rem;
  margin: 0 auto !important;
  border: 1px solid;
  border-radius: 16px;
}

div {
  height: calc(100vh - 36px);
  border-radius: 1rem;
  border: 1px solid;
  div {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 4rem;
    font-weight: bold;
    animation: spin 10s linear infinite;
    font-family: "Lobster", "Dancing Script", cursive;
  }
}
