#landing-root {
  background: url("/assets/images/background.jpg") #00000075 no-repeat
    center/cover;
  background-blend-mode: overlay;
  clip-path: polygon(0 0, 0 75%, 100% 100%, 100% 0);
  height: 100%;
  & > div {
    height: fit-content;
    transform: translateY(-50%);
    div {
      text-align: center;
    }
    div:first-child {
      font-size: 3rem;
      line-height: 3rem;
    }
    div:nth-child(2) {
      font-size: 5rem;
      line-height: 5rem;
      font-family: "Lobster", cursive;
    }
    div:nth-child(3) {
      font-family: "Dancing Script", cursive;
      font-size: 4rem;
      line-height: 4rem;
    }
    & > mat-divider {
      width: 80%;
      border-bottom: 1px solid white;
    }
    nav {
      width: 75%;
      margin-top: 0.5rem;
      mat-divider {
        border-left: 1px solid;
      }
      a {
        text-decoration: underline;
        width: fit-content;
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
  &.mobile {
    clip-path: polygon(0 0, 0 65%, 100% 100%, 100% 0);
    div {
      div:first-child {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
      div:nth-child(2) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      div:nth-child(3) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
      a {
        font-size: 1rem !important;
        line-height: 1rem !important;
      }
    }
  }
}
.contact-info-container {
  position: fixed;
  left: 0.25rem;
  bottom: 0.25rem;
  width: 20%;
  border: 0.5rem double;
  font-size: 2rem;
  padding: 0.5rem;
  div:first-child {
    text-align: center;
    margin-bottom: 1rem;
  }
  .contact-info {
    a {
      text-decoration: none;
      color: white;
    }
    .fa {
      height: 30px;
      width: 30px;
      padding: 10px;
      font-size: 30px;
      text-align: center;
      color: white;
      border-radius: 50%;
      transition: 1s ease-in-out;
      &:hover,
      &:focus {
        transform: rotate(360deg);
        background: white;
      }
    }
  }
  .fa-github {
    background: #211f1f;
    border: 1px solid #211f1f;
    &:hover,
    &:focus {
      color: #211f1f !important;
      border: 1px solid #211f1f !important;
    }
  }
  .fa-linkedin {
    background: #007bb5;
    border: 1px solid #007bb5;
    &:hover,
    &:focus {
      color: #007bb5 !important;
      border: 1px solid #007bb5 !important;
    }
  }
  .fa-envelope {
    background: #dd4b39;
    border: 1px solid #dd4b39;
    &:hover,
    &:focus {
      color: #dd4b39 !important;
      border: 1px solid #dd4b39 !important;
    }
  }
  &.mobile {
    width: 50%;
  }
}
