<ng-container *ngIf="isReady$ | async; else loading">
  <div class="page-container">
    <h1><i class="fa fa-book"></i><span>Courses and Specializations</span></h1>
    <div class="content">
      <section>
        <h2>Specializations</h2>
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
          <mat-card
            *ngFor="let specialization of specializations$ | async"
            style="margin: 0.75rem; width: 300px"
          >
            <mat-card-header fxLayout="row" fxLayoutAlign="center center">
              <mat-card-title>{{ specialization.title }}</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              height="300"
              width="300"
              [src]="specialization.cardImageUrl ?? (placeholderUrl$ | async)"
            />
            <mat-card-content>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Course List</mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                  <li *ngFor="let course of specialization.courses">
                    <a
                      [href]="course.certificate"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="truncate"
                    >
                      {{ course.title }}
                    </a>
                  </li>
                </ol>
              </mat-expansion-panel>
            </mat-card-content>
            <mat-card-actions
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <span>{{ specialization.offeredBy }}</span>
              <a
                mat-stroked-button
                *ngIf="specialization.cardImageUrl"
                [href]="specialization.certificate"
                target="_blank"
                rel="noopener noreferrer"
              >
                Certificate Url
              </a>
              <span *ngIf="!(isHandset$ | async)">{{
                specialization.platform
              }}</span>
            </mat-card-actions>
          </mat-card>
        </div>
      </section>

      <section>
        <h2>Courses</h2>
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
          <mat-card
            *ngFor="let course of courses$ | async"
            style="margin: 0.75rem; width: 300px;"
          >
            <mat-card-header fxLayout="row" fxLayoutAlign="center center">
              <mat-card-title>{{ course.title }}</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              height="300"
              width="300"
              [src]="course.cardImageUrl ?? (placeholderUrl$ | async)"
            />
            <mat-card-actions
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <span>{{ course.offeredBy }}</span>
              <a
                mat-stroked-button
                *ngIf="course.cardImageUrl"
                [href]="course.certificate"
                target="_blank"
                rel="noopener noreferrer"
              >
                Certificate Url
              </a>
              <span *ngIf="!(isHandset$ | async)">{{ course.platform }}</span>
            </mat-card-actions>
          </mat-card>
        </div>
      </section>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div style="height: 100%" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="150"></mat-spinner>
  </div>
</ng-template>
