section {
  margin-bottom: 2rem;
  & > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;
  }
}
h2 {
  width: fit-content;
  line-height: 2rem;
  font-size: 24px;
  margin: 1rem auto !important;
  padding: 0 1rem;
  border-bottom: 4px double;
  border-radius: 0.5rem;
}
mat-card {
  margin-top: 1rem;
  width: 300px;
  overflow: hidden;
}
mat-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 4rem;
}
mat-card-content {
  margin: 0 -16px;
  a {
    text-decoration: underline;
  }
}
