<ng-container *ngIf="isReady$ | async; else loading">
  <div *ngIf="project$ | async as project" class="page-container">
    <h1 class="truncate">
      <i class="fa fa-cogs"></i>
      <span><a routerLink="/projects">Projects</a></span>
      <span>/</span>
      <span>{{ project.title }}</span>
    </h1>

    <div class="content">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img
          [ngStyle]="{ width: '800px', height: '450px' }"
          [ngStyle.lt-md]="{ width: '250px', height: '140px' }"
          [src]="project.cardImageUrl ?? (placeholderUrl$ | async)"
        />
      </div>
      <br /><br />
      <p *ngFor="let desc of project.descs">{{ desc }}</p>
      <br /><br />
      <mat-divider></mat-divider>
      <div
        style="padding: 0 1rem"
        *ngIf="project.repoLink"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutAlign.lt-md="space-between center"
      >
        <span fxFlex="15">Repository Link:</span>
        <a [href]="project.repoLink" target="_blank" rel="noopener noreferrer">
          {{ project.repoLink }}
        </a>
      </div>
      <div
        style="padding: 0 1rem"
        *ngIf="project.visitLink"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutAlign.lt-md="space-between center"
      >
        <span fxFlex="15">Visit at:</span>
        <a [href]="project.visitLink" target="_blank" rel="noopener noreferrer">
          {{ project.visitLink }}
        </a>
      </div>
      <mat-divider></mat-divider>

      <br /><br />
      <ng-container *ngIf="project.highlights">
        <h2>Highlights</h2>
        <ul>
          <li *ngFor="let highlight of project.highlights">{{ highlight }}</li>
        </ul>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div style="height: 100%" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="150"></mat-spinner>
  </div>
</ng-template>
