mat-sidenav {
  min-width: 75vw;
  max-width: 80vw;
  #sidenav-header {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    img {
      height: 35px;
      width: 35px;
      border: 1px solid;
      border-radius: 50%;
    }
    div {
      div:first-child {
        font-size: 1rem;
        line-height: 1rem;
      }
      div:last-child {
        font-size: 0.75rem;
        line-height: 1rem;
      }
    }
  }
  mat-divider {
    border-color: white;
    margin: 0 5px;
  }
  mat-nav-list {
    mat-divider {
      border-color: #ffffff25;
    }
    a {
      font-size: 1.25rem;
    }
    i {
      margin-right: 3px;
      width: 2rem;
      text-align: center;
    }
  }
}
mat-sidenav-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    &.desktop {
      min-height: 64px;
    }
    & > button {
      margin-right: 1rem;
      transform: scale(1.5);
    }
    #brand-name {
      font-size: 2.5rem;
      font-family: "Dancing Script", cursive;
      text-shadow: 0 2px 1px black, 2px 0 1px black, 2px 2px 1px black;
      flex: 1;
    }
    nav {
      display: flex;
      justify-content: center;
      gap: 5px;
      a {
        width: 95px;
        text-align: center;
        border-radius: 5px;
        &:hover,
        &:focus {
          border-bottom: 2px dotted;
        }
        &.active {
          border-bottom: 2px solid;
        }
      }
    }
  }
  main {
    flex: 1;
    position: relative;
  }
}
