mat-sidenav {
  min-width: 75vw;
  max-width: 80vw;
  height: 100vh;
  #sidenav-content {
    height: 100%;
    #sidenav-header {
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin: 0 5px;
      border-bottom: 1px solid;
      img {
        height: 35px;
        width: 35px;
        border: 1px solid;
        border-radius: 50%;
      }
      div {
        div:first-child {
          font-size: 1rem;
          line-height: 1rem;
        }
        div:last-child {
          font-size: 0.75rem;
          line-height: 1rem;
        }
      }
    }
    mat-nav-list {
      mat-divider {
        border-color: #ffffff25;
      }
      a {
        font-size: 1.25rem;
      }
      i {
        margin-right: 3px;
        width: 2rem;
        text-align: center;
      }
    }
    .contact-info {
      border-top: 1px solid;
      padding: 1rem 0;
      margin-bottom: 4rem;
      a {
        text-decoration: none;
        color: white;
      }
      .fa {
        height: 30px;
        width: 30px;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        color: white;
        border-radius: 50%;
        transition: 1s ease-in-out;
        &:hover,
        &:focus {
          transform: rotate(360deg);
          background: white;
        }
      }
      .fa-github {
        background: #211f1f;
        border: 1px solid #211f1f;
        &:hover,
        &:focus {
          color: #211f1f !important;
          border: 1px solid #211f1f !important;
        }
      }
      .fa-linkedin {
        background: #007bb5;
        border: 1px solid #007bb5;
        &:hover,
        &:focus {
          color: #007bb5 !important;
          border: 1px solid #007bb5 !important;
        }
      }
      .fa-envelope {
        background: #dd4b39;
        border: 1px solid #dd4b39;
        &:hover,
        &:focus {
          color: #dd4b39 !important;
          border: 1px solid #dd4b39 !important;
        }
      }
    }
  }
}
mat-sidenav-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    &.desktop {
      min-height: 64px;
    }
    & > button {
      margin-right: 1rem;
      transform: scale(1.5);
    }
    #brand-name {
      font-size: 2.5rem;
      font-family: "Dancing Script", cursive;
      text-shadow: 0 2px 1px black, 2px 0 1px black, 2px 2px 1px black;
      flex: 1;
    }
    nav {
      display: flex;
      justify-content: center;
      gap: 5px;
      a {
        width: 95px;
        text-align: center;
        border-radius: 5px;
        &:hover,
        &:focus {
          border-bottom: 2px dotted;
        }
        &.active {
          border-bottom: 2px solid;
        }
      }
    }
  }
  main {
    flex: 1;
    position: relative;
  }
}
