<mat-sidenav-container>
  <mat-sidenav class="mat-primary-background" #sidenav mode="over" [(opened)]="opened">
    <div id="sidenav-header">
      <img [src]="profileImageUrl$ | async" alt="Profile Image" />
      <div>
        <div>Bharathan Mudaliar</div>
        <div class="truncate">{{ landingSubtitle$ | async }}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="/about" (click)="sidenav.close()">
        <i class="fa fa-user" mat-list-icon></i>
        About
      </a>
      <a mat-list-item routerLink="/projects" (click)="sidenav.close()">
        <i class="fa fa-cogs" mat-list-icon></i>
        Projects
      </a>
      <a mat-list-item routerLink="/courses" (click)="sidenav.close()">
        <i class="fa fa-book" mat-list-icon></i>
        Courses
      </a>
      <a mat-list-item routerLink="/cv" (click)="sidenav.close()">
        <i class="fa fa-info-circle" mat-list-icon></i>
        CV
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngIf="isHandset$ | async"
        mat-icon-button
        (click)="sidenav.toggle()"
        id="menu-btn"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a
        ngStyle.lt-md="font-size: 2rem;"
        id="brand"
        routerLink="/"
        routerLinkActive="active"
        id="brand-name"
      >
        Bharathan Mudaliar
      </a>
      <nav *ngIf="!(isHandset$ | async)">
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
        <a routerLink="/courses" routerLinkActive="active">Courses</a>
        <a routerLink="/cv" routerLinkActive="active">CV</a>
      </nav>
    </mat-toolbar>
    <main [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
