ul {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem;
    border: 1px solid #ffffff12;

    span:first-child {
      flex-basis: 15%;
    }
    span:nth-child(2) {
      flex: 1; 
    }
  }
}