<ul>
  <li>
    <span>Landing Subtitle</span>
    <span class="truncate">{{ landingSubtitle$ | async }}</span>
    <button mat-mini-fab (click)="setLandingSubtitle()">
      <mat-icon>edit</mat-icon>
    </button>
  </li>
  <li>
    <span>Profile Image</span>
    <span class="truncate">
      <a
        [href]="profileImageUrl$ | async"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ profileImageUrl$ | async }}
      </a>
    </span>
    <button mat-mini-fab (click)="setProfileImage()">
      <mat-icon>edit</mat-icon>
    </button>
  </li>
  <li>
    <span>Resume</span>
    <span class="truncate">
      <a [href]="resumeUrl$ | async" target="_blank" rel="noopener noreferrer">
        {{ resumeUrl$ | async }}
      </a>
    </span>
    <button mat-mini-fab (click)="setResumeUrl()">
      <mat-icon>edit</mat-icon>
    </button>
  </li>
</ul>
